<nav class="navbar navbar-light bg-light">

  <h1 *ngIf="exclusive">Exlusive</h1>
  <form class="container-fluid justify-content-start">
    <a [routerLink]="['/fromEvent']"><button class="btn btn-sm btn-outline-success me-2" type="button">fromEvent</button></a>
    <a [routerLink]="['/interval']"><button class="btn btn-sm btn-outline-secondary me-2" type="button">Interval</button></a>
    <a [routerLink]="['/ofFrom']"><button class="btn btn-sm btn-outline-secondary me-2" type="button">of-from</button></a>
    <a [routerLink]="['/toarray']"><button class="btn btn-sm btn-outline-secondary me-2" type="button">toArray</button></a>
    <a [routerLink]="['/customObs']"><button class="btn me-2 btn-sm btn-outline-secondary" type="button">customObservable</button></a>
    <a [routerLink]="['/map']"><button class="btn me-2 btn-sm btn-outline-secondary" type="button">map</button></a>
    <a [routerLink]="['/pluck']"><button class="btn me-2 btn-sm btn-outline-secondary" type="button">Pluck</button></a>
    <a [routerLink]="['/filter']"><button class="btn  btn-sm btn-outline-secondary me-2" type="button">Filter</button></a>
    <a [routerLink]="['/tap']"><button class="btn me-2 btn-sm btn-outline-secondary" type="button">Tap</button></a>
    <a [routerLink]="['/take']"><button class="btn me-2  btn-sm btn-outline-secondary" type="button">Take,TakeLast,TakeUntil</button></a>
    <a [routerLink]="['/retry']"><button class="btn me-2  btn-sm btn-outline-secondary" type="button">Retry,RetryWhen,Scan,AND Delay</button></a>
    <a [routerLink]="['/debounce']"><button class="btn me-2 btn-sm btn-outline-secondary" type="button">DebounceTime,DistinctUntilChanged</button></a>
    <a [routerLink]="['/subject']"><button class="btn me-2 btn-sm btn-outline-secondary" type="button">Subject</button></a>
  </form>
</nav>

<router-outlet></router-outlet>